@page "/"
@using GoTorz.Model
@using Microsoft.EntityFrameworkCore
@inject GoTorz.Data.GoTorzContext DbContext

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <ul>
    @foreach (var package in packages)
    {
        <li>Package ID: @package.PackageId, Plane ID: @package.PlaneId, Hotel ID: @package.HotelId</li>
    }
</ul> *@

@code {
    private List<Package> packages = new();

    // protected override async Task OnInitializedAsync()
    // {
    //     packages = await DbContext.Package.ToListAsync();
    // }
}
