@page "/"
@using GoTorz.Model
@using GoTorz.Services
@using Microsoft.EntityFrameworkCore
@inject PackageService PackageService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    @foreach (var package in packages)
    {
        <li>Package ID: @package.PackageId, Plane ID: @package.PlaneId, Hotel ID: @package.HotelId</li>
    }
</ul>

@code {
    private List<Package> packages = new();

    protected override async Task OnInitializedAsync()
    {
        packages = await PackageService.GetPackagesAsync();
    }
}
