@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GoTorz</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @* Home not in use *@
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div> *@

        <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>

            <AuthorizeView>
                <NotAuthorized>
                    @*This is the view for the unauthorized users*@
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Register">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                @*Admin view*@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="SalesPlanePage">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Package
                    </NavLink>
                </div>                
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CustomerBookings">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer Bookings
                    </NavLink>
                </div>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CustomerBookings">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer Bookings
                    </NavLink>
                </div>
                @*TLDR ADD EVERYTHING IN HERE, ADMIN NEEDS TO BE ABLE TO SEE EVERYTHING AND ANYTHING*@
            </AuthorizeView>


            @*This is the View for the Sales department*@
            <AuthorizeView Roles="Sales">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="SalesPlanePage">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SalesPlanePage
                    </NavLink>
                </div>  
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CustomerBookings">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer Bookings
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Packages">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Packages
                    </NavLink>
                </div>

            </AuthorizeView>

            <AuthorizeView Roles="Customer">
                @*This is the view for the average user/DefaultUser*@
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="Destinations">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Destinations
                </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/order-history">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Order History
                    </NavLink>
                </div>
                <!--<NavLink class="nav-link" href="PackageHistory">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> PackageHistory
                </NavLink>-->
            </AuthorizeView>
        </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    </nav>
</div>