@page "/packages/details"
@using Microsoft.EntityFrameworkCore
@using GoTorz.Model
@inject IDbContextFactory<GoTorz.Data.GoTorzContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Package</h2>
    <hr />
    @if (package is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">PlaneId</dt>
            <dd class="col-sm-10">@package.PlaneId</dd>
            <dt class="col-sm-2">HotelId</dt>
            <dd class="col-sm-10">@package.HotelId</dd>
        </dl>
        <div>
            <a href="@($"/packages/edit?packageid={package.PackageId}")">Edit</a> |
            <a href="@($"/packages")">Back to List</a>
        </div>
    }
</div>

@code {
    private Package? package;

    [SupplyParameterFromQuery]
    private int PackageId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        package = await context.Package.FirstOrDefaultAsync(m => m.PackageId == PackageId);

        if (package is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
