@page "/packages"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GoTorz.Model
@using GoTorz.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GoTorz.Data.GoTorzContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="packages/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Package">
    <PropertyColumn Property="package => package.PlaneId" />
    <PropertyColumn Property="package => package.HotelId" />

    <TemplateColumn Context="package">
        <a href="@($"packages/edit?packageid={package.PackageId}")">Edit</a> |
        <a href="@($"packages/details?packageid={package.PackageId}")">Details</a> |
        <a href="@($"packages/delete?packageid={package.PackageId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private GoTorzContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
